*{
	box-sizing: 0;
	margin: 0;
	padding: 0;
}
*{
	font-family: 'manrope', oswald;
	font-weight: 
}

h1, h2, h3{
	font-family: 'lato', oswald;
}

#landing{
	background-color: #FB5607;
}


#landing-section{
	background-color: #ffbe0b;
}

.landing-text{
	border-radius: 10px;
	padding: 50px;
	background-color: #ffbe0b;
}

#webpict{
	transition: .3s;
	height: 300px; 
	width: 240px;
	border-radius: 20px;
}

#webpict:hover{
	filter: grayscale(0);
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card:hover{
	transform: scale(1.03)
}

.button-landing{
	align-items: center;
	border-color: maroon;
	background-color: maroon;
	color: #fff;
	border-radius: 10px;
	padding: 5px 10px;
	transition: .3s;
}

.button-landing:hover{
	transform: scale(1.1);
}

.card  .mx-md-2 .mx-auto .p-1 .bg-dark .text-light{
	color: black;
	width: 18rem;
	height: 19rem;
	transition: .3s;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Add a box-shadow */
}


@media only screen and (max-width: 1200px) {
  .card-text {
    font-size: 12px;
    line-height: 1.4;
  }
}

.card {
  height: 400px; /* adjust the height as needed */
}

.card-img-top {
  height: 190px;
  width: 190px;
  object-fit: cover;
}


html {
	scroll-behavior: smooth;
}

/*#profile-section{
	background-color: #ffbe0b;
}
*/

#profile-contact{
	background-color: #FB5607;
}
.gallerycard{
	padding: 20px;
}

#gallery-section{
	background-color: #ffbe0b;
	/*background-color: #FB5607;*/
}

#features-section{
	background-color: #FB5607;
}
